*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: unset;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("assets/img/bmw.jpg");
    background-size: cover;
    font-family: 'Speed-Font', sans-serif;
}

@font-face {
    font-family: Speed-Font;
    src: url(assets/fonts/high-speed.ttf);

}

/*-----Styles for game settings section-----*/
.game-settings-section {
    display: none;
    /*Grid*/
    justify-content: center;
    align-items: center;
}

.choice-uname-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/*Styles for username input*/
.input-username {
    width: 16rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
    text-align: center;
}

.input-username::placeholder {
    color: darkgray;
}

/*Arreglar outline for safari
SALE CON EL COLOR DE DEFECTO*/
.input-username:focus {
    outline-color: darkgray;
}


/*Styles for game mode selection*/
.choice-game-mode {
    font-size: 1rem;
    text-align: center;
}

.modes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 40vh;
    aspect-ratio: 2/2;
}

.modes-container fieldset {
    display: flex;
    justify-self: center;
    align-self: center;
}


.input-game-mode {
    width: 0;
    height: 0;
    opacity: 0;
}

.input-game-mode:checked+label {
    box-shadow: 0 0 0 4px darkgrey;
    border: 1px solid darkgray;
}

.label-game-mode {
    display: block;
    width: 6.25rem;
    border: 1px solid black;
    border-radius: 15px;
    aspect-ratio: 2/2;
    background-size: cover;
    text-align: center;
}

.label-game-mode:hover {
    cursor: pointer;
}

.mode1 {
    background-image: url("assets/img/game-mode/easy-mode.png");
}

.mode2 {
    background-image: url("assets/img/game-mode/hard-mode.png");
}

.mode3 {
    background-image: url("assets/img/game-mode/no-mistakes-mode.png");
    font-size: .8rem;
}

.mode4 {
    background-image: url("assets/img/game-mode/pro-mode.png");
    color: antiquewhite;
}

/*Styles for bottom buttons*/
.users-score {
    justify-self: center;
    margin: 3rem;
    font-size: 1rem;
    background-color: rgba(210, 215, 211, .3);
    padding: 1rem;
    border-radius: 20px;
    color: white;
}

.users-score:hover,
.start-game:hover,
.back-btn:hover {
    cursor: pointer;
    background-color: rgba(210, 215, 211, .7);
}

.start-game {
    justify-self: center;
    font-size: 1rem;
    background-color: rgba(210, 215, 211, .3);
    padding: 1rem;
    border-radius: 20px;
    color: white;
}

/*-----Styles for users score section-----*/
.users-score-section {
    display: none;
    align-items: center;
    margin: 2rem;
}

.score-text {
    margin-top: 1rem;
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.ranking-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1rem;
    border: 4px solid darkgray;
    border-radius: 15px;
    color: white;
    background-color: rgba(210, 215, 211, .5);
    margin-top: 1rem;
}

.ranking-score::-webkit-scrollbar {
    display: none;
}


.player-ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 4px solid #FAA223;
    width: 75%;
}

.player-ranking img {
    width: 2rem;
}

.back-btn {
    justify-self: center;
    font-size: 1rem;
    background-color: rgba(210, 215, 211, .3);
    padding: 1rem;
    border-radius: 20px;
    color: white;
    margin: 2rem;
}

/*-----Styles for cards game section-----*/



/*Styles for a responsive website.
It is mobile first, so this mequia query is 
aimed to style for desktop or tablets devices.*/
@media screen and (min-width: 800px) {
    body {
        background-image: url("assets/img/bmwD.jpg");
        background-size: cover;
    }

    /*-----Responsive for the first section-----*/
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .game-settings-section {
        flex: 0 0 65%;
        justify-content: right;
    }

    .choice-uname-text {
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
    }

    .input-username {
        width: 25rem;
        height: 4rem;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        font-size: 1.5rem;
        margin-top: 1rem;
        justify-self: center;
        text-align: center;
    }

    .choice-game-mode {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1.5rem;
    }

    .modes-container {
        max-width: 420px;
        min-width: 350px;
        justify-self: center;
    }

    .label-game-mode {
        display: block;
        width: 8rem;
        border: 1px solid black;
        border-radius: 15px;
        aspect-ratio: 2/2;
        background-size: cover;
        text-align: center;
        font-size: 1rem;
        padding: 4px;
    }

    .users-score {
        margin: 3rem;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 20px;
    }

    .start-game {
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 20px;
    }

    .game-settings label {
        border: 1px solid black;
    }

    /*-----Rersponsive for the second section-----*/
    .users-score,
    .back-btn {
        display: none;
    }

    .start-game {
        margin-top: 3rem;
    }

    .users-score-section {
        display: none;
        width: 35vh;
        margin: 0;
        flex: 0 0 35%;
        justify-content: center;
    }

    .player-ranking {
        margin-top: 0;
    }

    .score-text {
        font-size: 1.3rem;
        margin-top: 2rem;
    }

}